
<p style="font-family: 'Brush Script MT', cursive; font-size:35px;">My Reservations</p>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Hotel</th>
          <th scope="col">No. of Rooms</th>
          <th scope="col">Reserved Date</th>   
          <th scope="col">Phone</th>
          <th scope="col">Checkin-Status</th>
          <th scope="col">Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservation_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{r.hotel}}</td>
            <td>{{r.no_of_rooms}}</td>
            <td>{{r.reserved_date}}</td>    
            <td>{{r.phone}}</td> 
            <td>

              <small class='badge bg-{% if r.checkin_status == "reserved" %}warning text-dark{% elif r.checkin_status == "checked_in" %}info text-dark{% else %}success{% endif %}'>{{r.checkin_status}}</small>
 
                {% comment %} {% if r.checkin_status == "reserved" %}
                <small class="badge bg-warning">{{r.checkin_status}}</small>
                {% elif r.checkin_status=="checked_in" %}
                <small class="badge bg-info">{{r.checkin_status}}</small>
                {% else %}
                <small class="badge bg-success">{{r.checkin_status}}</small>
                {% endif %}  {% endcomment %} 
              
            </td>
            <td>
              {% if r.paid %}
                <input class="form-check-input" type="checkbox" disabled checked>
              {% else %}
                <input class="form-check-input" type="checkbox" disabled >
              {% endif %}
            </td>
            <td>
              <a href="{% url 'accounts:reservation_details' r.id %}" class="btn btn-info" id="reservationDetailId">Details</a>
            </td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>


</div> 