{% extends 'base.html' %}

{% block title %}Forget password{% endblock %}

{% block content %}

<div class="row mt-3">

    <div class="col-4 mx-auto">
        <p style="font-family: 'Brush Script MT', cursive; font-size:35px;" class="my-3">Forget Password</p>
        
        {% if messages %} 
            {% for message in messages %}
                <p class="alert alert-{% if message.tags %}{{message.tags}}{% else %}info{% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        
        <form method="post" novalidate> 

            {% if form.non_field_errors %}
                <p>Yes</p>
                {% for err in form.non_field_errors %}
                    <p class="alert alert-danger">{{ err }}</p>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
               <p> {{ field.label_tag }} {{ field}} <span style="color:red;">{{ field.errors|striptags }}</span></p>
            {% endfor %}
            <input type="submit" value="Send Mail" class="btn btn-success" style="padding-left:30px; padding-right:30px;">
        </form>
        <p class="mt-2">Do not have an account? <a href="{% url 'accounts:login' %}" style="text-decoration:none;">login here</a></p> 
    </div>

</div>


{% endblock %}