
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<p style="font-family: 'Brush Script MT', cursive; font-size:35px; display: inline;" >Reservation Reports</p>
</div> <hr>
<div class="row">  
    <div class="col-sm-6 mt-3 mb-2" >
      <div class="card card-hover"  style="text-align: center; border-radius: 12px;" >
        <p style="font-family: 'Brush Script MT', cursive; font-size:28px; display: inline;" class="text-primary">Total Checkin-Status</p>
        <div class="chart-container">  
          <canvas id="myReservationDoughnutChart" > ></canvas>
        </div>
      </div>
    </div>   
    <div class="col-sm-6 mt-3 mb-2"  >
      <div class="card card-hover"  style="text-align: center; border-radius: 12px;" >
        <p style="font-family: 'Brush Script MT', cursive; font-size:28px; display: inline;" class="text-primary">Total Reservations Line Chart</p>
        <div class="chart-container" style="width:100%">  
          <canvas id="myReservationLineChart"  ></canvas>
        </div>
      </div>
    </div>
  </div>