{% extends 'base.html' %}

{% block title %}Add Hotel{% endblock %}

{% block content %}

<div class="row mt-3 mb-3">

    <div class="col-5 mx-auto">
        <p style="font-family: 'Brush Script MT', cursive; font-size:35px;" class="my-3">Add Hotel Details</p>
        <form method="post" novalidate enctype="multipart/form-data"> 

            {% if form.non_field_errors %}
                {% for err in form.non_field_errors %}
                    <p style="color:red;">{{ err }}</p>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
               <p> {{ field.label_tag }} {{ field}} <span class="text-muted">{{field.help_text}}</span><span style="color:red;">{{ field.errors|striptags }}</span></p>
            {% endfor %}
            <input type="submit" value="Add" class="btn btn-success px-4">
            <a class="btn btn-secondary mx-2" href="{% url 'accounts:profile' %}">Cancel</a>
        </form>
    </div>

</div>

{% endblock %}